<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
    <userSettings>
        <My.MySettings>
            <setting name="UKCats" serializeAs="String">
                <value>70=Entertainment
1F=Lifestyle &amp; Culture
D0=Movies
9F=Music
F0=Sports
B0=News
7F=Documentaries
BF=Religion
50=Kids
30=Shopping
DF=International
5F=Gaming &amp; Dating
FF=Specialist
3F=Adult
10=Sky Help</value>
            </setting>
            <setting name="Regions" serializeAs="String">
                <value>4097-14=England (BBC) / Border &amp; NW (ITV)
4097-12=England (BBC) / Border (ITV)
4097-29=England (BBC) / E Mid &amp; Yorkshire (ITV)
4097-27=England (BBC) / E London &amp; Midlands (ITV)
4097-18=England (BBC) / East London &amp; SE (ITV)
4097-25=England (BBC) / East &amp; Midlands (ITV)
4097-21=England (BBC) / East &amp; Yorkshire (ITV)
4097-2=England (BBC) / East (ITV)
4097-11=England (BBC) / London &amp; SE (ITV)
4097-9=England (BBC) / London &amp; South (ITV)
4097-1=England (BBC) / London (ITV)
4097-19=England (BBC) / Midlands &amp; NW (ITV)
4097-24=England (BBC) / Midlands &amp; West (ITV)
4097-3=England (BBC) / Midlands (ITV)
4097-20=England (BBC) / Midlands &amp; Yorkshire (ITV)
4097-26=England (BBC) / NE &amp; Yorkshire (ITV)
4097-17=England (BBC) / NW &amp; Wales (ITV)
4097-13=England (BBC) / North East (ITV)
4097-7=England (BBC) / North West (ITV)
4097-5=England (BBC) / South (ITV)
4097-10=England (BBC) / South East (ITV)
4097-6=England (BBC) / South West (ITV)
4097-4=England (BBC) / West (ITV)
4097-8=England (BBC) / Yorkshire (ITV)
4099-73=England 2 / Isle Of Man (bh)
4099-65=England 2 / Brighton
4099-63=England 2 / HTV W/Thames Valley (bv)
4099-70=England 2 / Henley On Thames
4099-66=England 2 / London / Thames Valley
4099-64=England 2 / London Kent
4099-68=England 2 / Meridian North
4099-62=England 2 / North East Midlands (bu)
4099-71=England 2 / Oxford
4099-61=England 2 / Scarborough (bc)
4099-60=England 2 / Sheffield (au)
4099-72=England 2 / South Yorkshire
4099-69=England 2 / Tees
4099-67=England 2 / West Dorset
4099-41=Wales (BBC) / Midlands (ITV)
4099-42=Wales (BBC) / North West (ITV)
4099-43=Wales (BBC) / Wales (ITV)
4099-45=Wales (BBC) / NW &amp; Wales (ITV)
4100-33=Northern Ireland(BBC &amp; ITV)
4100-34=Channel Isles(ITV)
4100-50=Republic of Ireland 4100
4098-36=Scotland (BBC) / Border (ITV)
4098-38=Scotland (BBC) / C Scot &amp; N Scot (ITV)
4098-37=Scotland (BBC) / Central Scotland (ITV)
4098-35=Scotland (BBC) / North Scotland (ITV)</value>
            </setting>
        </My.MySettings>
    </userSettings>
</configuration>
