<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Sky_NZ_Channel_and_EPG_Grabber.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <Sky_NZ_Channel_and_EPG_Grabber.My.MySettings>
            <setting name="UKCats" serializeAs="String">
                <value>63=Entertainment
127=Entertainment
175=Entertainment
31=Sky Movies
79=Sky Sports
111=Music Videos
47=News &amp; Documentaries
159=News &amp; Documentaries
191=News &amp; Documentaries
255=Adult
15=Interactive</value>
            </setting>
            <setting name="Regions" serializeAs="String">
                <value>25280-1=All SD: Auckland
25280-2=All SD: Wellington
25280-3=All SD: Christchurch
25280-4=All SD: Waikato
25281-1=HD FTA Sky SD: Auckland
25281-2=HD FTA Sky SD: Wellington
25281-3=HD FTA Sky SD: Christchurch
25281-4=HD FTA Sky SD: Waikato
25282-1=Sky HD: Auckland
25282-2=Sky HD: Wellington
25282-3=Sky HD: Christchurch
25282-4=Sky HD: Waikato</value>
            </setting>
        </Sky_NZ_Channel_and_EPG_Grabber.My.MySettings>
    </userSettings>
</configuration>
